.navigation {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {
    width: calc(100% / 3);
    justify-content: flex-end;
    align-self: center;
    
}

.brand {
    font-size: 20px;
    text-transform: uppercase;
}

.logo {
    text-align: center;
}

.links {
    display: flex;
    justify-content: flex-end;

    li {
        list-style: none;
        padding-right: 40px;
        text-transform: uppercase;
        
        &:last-child {
            padding-right: 0;
        }
    }
}